DB_USER=postgres
DB_PASSW=secret
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=fastapi
DB_SCHEMA=postgresql+psycopg2

SQLALCHEMY_DATABASE_URL=${DB_SCHEMA}://${DB_USER}:${DB_PASSW}@${DB_HOST}:${DB_PORT}/${DB_NAME}

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_SERVER=localhost
MAIL_FROM=info@example.com
MAIL_FROM_NAME="QPDoc by Devel More Group"
# only MAIL_STARTTLS or MAIL_SSL_TLS can be enabled, not both
MAIL_STARTTLS=no
MAIL_SSL_TLS=no

REDIS_PORT=6379
REDIS_HOST=localhost
# REDIS_DB=0

SECRET_KEY=secret_key
ALGORITHM=HS256

# CORS origins list, separated by commas or wildcard
CORS_ORIGINS="*"

CLOUDINARY_NAME="cloudinary"
CLOUDINARY_API_KEY="CLOUDINARY_AK"
CLOUDINARY_API_SECRET="API_SECRET"