* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    background-color: #4b5eb8;
    box-sizing: border-box;
    font-family: Verdana;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #fafafa;
    box-shadow: 0 3px 14px #4b5563;
    height: 112px;
}

h1 {
    color: #4b5eb8;
    font-size: 40px;
}
  
#text {
    font-size: 30px;
    color: #4b5eb8;
}

.to-profile {
    font-size: 70px;
    color: #4b5eb8;
    display: block;
    transition: 0.3s;
    padding-right: 65px;
}

.to-profile:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.container {
    background-color: #fafafa;
    width: 800px;
    height: 700px;
    margin: 50px auto 0;
    position: relative;
    border-radius: 15px;
}
  
.leftbox {
    float: left;
    left: -45%;
    position: absolute;
    width: 300px;
    height: 700px;
    background-color: #fafafa;
    border-radius: 20px;
    max-height: 700px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    color: #4b5563;
    width: 10px;
}

input[type="file"] {
    display: none;
}
  
label {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #4b5eb8;
    color: #fafafa;
    font-size: 20px;
    text-align: center;
    border: 3px solid #fafafa;
    border-radius: 20px;
    padding: 10px 1px;
}
  
label:hover {
    color: #4b5eb8;
    background-color: #fafafa;
    transition: 0.3s;
}
  
#num-of-files {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 10px 30px;
}
  
ul {
    list-style-type: none;
}
  
.leftbox li {
    width: 90%;
    font-weight: bold;
    margin-left: 15px;
    font-size: 10px;
    color: #000;
    background-color: #e0dee9;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    hyphens: auto;
    overflow: auto;
}

.rightbox {
    padding: 10px 10px 15px;
    border-bottom: 1px solid #4b5eb8;
    margin: 0 15px;
}

.msgs {
    overflow: auto;
    height: 555px;
    margin-top: 10px;
}

.msgs>div {
    max-width: 70%;
    font-size: 18px;
    border-radius: 15px;
    width: fit-content;
    hyphens: auto;
    padding: 10px;
    color: #fafafa;
}

.bot-msg {
    background-color: #4b5eb8;
    margin: 10px 0 0 5px;
}

.user-msg {
    background-color: #9ca3af;
    margin: 10px 5px 0 auto;
}

.info-msg {
    background-color: #eddee9;
    margin: 10px auto 0;
    color: #6b7280 !important;
}

.typing-box {
    position: absolute;
    width: 746px;
    text-align: center;
    border: 2px solid #4b5eb8;
    border-radius: 15px;
    padding: 20px 10px;
    bottom: 15px;
    left: 27px;
}

.input-field {
    font-size: 18px;
    width: 90%;
    padding-top: 10px;
    outline: none;
    border: none;
    background: transparent;
}

.send-btn {
    float: right;
    color: #4b5eb8;
    font-size: 30px;
    background: transparent;
    outline: none;
    border: none;
}

.send-btn:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;
}
