* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    background-color: #4b5eb8;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper {
    padding-top: 82px;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-box {
    width: 400px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    padding: 35px;
    background-color: #fafafa;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 3px 14px #4b5563;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 40px auto;
    position: relative;
    background-color: #4b5eb8;

    border-radius: 30px;
}

.toogle-btn {
    padding: 20px 30px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-weight: 400;
    transition: 0.3s;
}

.toogle-btn:hover {
    transform: scale(1.1);
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #fafafa;
    border: 1px solid #4b5eb8;
    border-radius: 40px;
    transition: 0.5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #9ca3af;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px;
    color: #4b5eb8;
    background-color: #fafafa;
    outline: none;
    border-radius: 30px;
    border: 1px solid #4b5eb8;
    transition: 0.3s;
}

.submit-btn:hover,
.submit-btn:focus {
    color: #fff;
    background-color: #4b5eb8;
    border: 0.5px solid #4b5eb8;
    transition: 0.2s;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
    color: #9ca3af;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

input::placeholder {
    color: #9ca3af;
}

.terms {
    color: #9ca3af;
}

.title {
    font-size: 40px;
    color: #4b5eb8;
    background-color: #fafafa;
    padding: 10px 0 35px 65px;
    box-shadow: 0 3px 14px #4b5563;
}

.mess-chat {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #69b4f3;
    background-color: #9aafc0;
    max-width: 70%;
}

.mess-user {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #69b4f3;
    background: #bfe2ff;
}

.form-box1 {
    width: 900px;
    height: 400px;
    position: relative;
    margin: auto;
    padding: 35px;
    background-color: #fafafa;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 3px 14px #4b5563;
    overflow: hidden;
}

form {
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

form input {
    background: wheat;
    border-radius: 20px;
    padding: 15px 20px;
    /*font-family: 'Inter', sans-serif;*/
    border: 1px solid transparent;
    color: #ECECF1;
    outline: none;
    width: 900px;
}

form input:focus {
    border: 3px solid;
    border-color: #3b06fa;
}
