<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        {% block style_file %}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1 class="title">{{ title }}</h1>
                <h2 id="text">{{ page_header }}</h2>
                <nav>
                    {% if request.path != '/profile' %}
                    <a href="/profile" class="to-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </a>
                    {% endif %}
                </nav>
            </header>
            {% block content %}
            {% endblock %}
        </div>
        {% block log_reg_js %}
        {% endblock %}
    </body>
</html>