{% extends "base.html" %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block style_file %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/chat.css') }}">
{% endblock %}
{% block content %}
    <div class="container">

        <div class="leftbox">
            <form action="/upload" method="post" id="uploadForm" enctype="multipart/form-data" class="add-pdf" >
                <input type="file" id="file-input" name="files"
                       accept=".pdf, .docx, .odt" multiple>
                <label for="file-input">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    &nbsp; Upload file <span style="display: block">(pdf, docx, docx)</span>
                </label>
                <div id="num-of-files">No Files Coosen</div>
                <ul id="files-list"></ul>
            </form>
        </div>

        <div class="rightbox">
            <div class="msgs" id="subscribe">
            </div>

            <div class="typing-box">
                <form id="formChat" class="send">
                    <input type="text" id="question"
                    class="input-field"
                    placeholder="What do you want to know..."
                    autocomplete="off">
                    <button type="submit" class="send-btn">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="view-wrapper">
            <div class="file-selector-wrapper">
                {% if user_files %}
                <select id="fileSelector">
                    <option value="0">Choose a file for the context...</option>
                    {% for user_file in user_files %}
                    <option value="{{user_file.id}}">{{user_file.filename}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="file-content">
                <textarea id="fileContent"></textarea>
                {% else %}
                    <span>You don't have any files yet.</span>
                {% endif %}
            </div>
        </div>

    </div>

    <script>
        /* Script for file selector */
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        fileSelector.addEventListener('change', (e) => {
            e.preventDefault()

            if (parseInt(e.target.value)) {
                fileContent.style.display = "inline-block"

                fetch("/api/user_files/" + e.target.value, {
                    method: "GET",
                    headers: {
                        Authorization: getCookie("access_token").replaceAll('"', '')
                    },
                })
                .then(resp => resp.json())
                .then(json => {
                    let userFileContent = JSON.stringify(json)
                    fileContent.value = userFileContent.substring(1, userFileContent.length - 1)
                })
            } else {
                fileContent.style.display = "none"
            }
        })

        /* Script for file bar */
        let fileInput = document.getElementById("file-input");
        let fileList = document.getElementById("files-list");
        let numOfFiles = document.getElementById("num-of-files");

        fileInput.addEventListener("change", () => {
            fileList.innerHTML = "";
            numOfFiles.textContent = `${fileInput.files.length}
            Files Selected`;

            for (i of fileInput.files) {
                let reader = new FileReader();
                let listItem = document.createElement("li");
                let fileName = i.name;
                fileSize = (i.size / 1024).toFixed(1);
                listItem.innerHTML = `<p>${fileName}</p><p>${fileSize}KB</p>`;

                if (fileSize >= 1024) {
                    fileSize = (fileSize / 1024).toFixed(1);
                    listItem.innerHTML = `<p>${fileName}</p><p>${fileSize}MB</p>`;
                }
                fileList.appendChild(listItem);
            }

            uploadForm.submit()
        });

        /* script for chatting via websocket */
        console.log('Starting the chat!')

        function startWebsocket() {
            let ws = null
            try {
                ws = new WebSocket('ws://{{ ws_address }}')
            } catch (err) {
                console.log('Failed to connect to the ws endpoint, retrying...')
                return
            }

            function submitForm(e) {
                e.preventDefault()

                if (parseInt(fileSelector.value) == 0) {
                    const elMsg = document.createElement('div')
                    elMsg.setAttribute('class', 'info-msg')
                    elMsg.innerHTML = "<p>You should choose a file for the context!</p>"
                    subscribe.appendChild(elMsg)
                    subscribe.scrollTo({
                        top: subscribe.scrollHeight,
                        behavior: 'smooth'
                    });
                } else if (question.value) {
                    ws.send('{"user_id": {{user.id}}, "file_id": ' + parseInt(fileSelector.value) + ', "message": "'
                       + question.value.replaceAll('"', '\\\"') + '"}')
                    const elMsg = document.createElement('div')
                    elMsg.setAttribute('class', 'user-msg')
                    elMsg.innerHTML = "<p>" + question.value + "</p>"
                    subscribe.appendChild(elMsg)
                    question.value = null
                    subscribe.scrollTo({
                        top: subscribe.scrollHeight,
                        behavior: 'smooth'
                    });
                }
            }

            ws.onopen = (e) => {
                console.log('Chat communication intitialized!')

                const elMsg = document.createElement('div')
                elMsg.setAttribute('class', 'info-msg')
                elMsg.innerHTML = "<p>We're online, let's talk!</p>"
                subscribe.appendChild(elMsg)
                subscribe.style.border = "none"
                subscribe.scrollTo({
                    top: subscribe.scrollHeight,
                    behavior: 'smooth'
                });

                formChat.addEventListener('submit', submitForm)
                formChat.getElementsByClassName("send-btn")[0].disabled = false;
                question.readOnly = false;
                question.setAttribute("placeholder", "What do you want to know...")
                document.getElementsByClassName("typing-box")[0].style.borderColor = "#4b5eb8"
            }

            ws.onmessage = (e) => {
                try {
                    data = JSON.parse(e.data);
                    const elMsg = document.createElement('div')
                    elMsg.setAttribute('class', 'bot-msg')
                    elMsg.innerHTML = "<p>" + data.message + "</p>"

                    if (data.code == 403) {
                        elMsg.innerHTML += " Redirecting in 3 secs..."
                        setTimeout(() => {document.location = "/login"}, 3000)
                    }

                    subscribe.appendChild(elMsg)
                    subscribe.scrollTo({
                        top: subscribe.scrollHeight,
                        behavior: 'smooth'
                    });
                } catch (err) {
                    console.log(err)
                }
            }

            ws.onclose = () => {
                formChat.removeEventListener('submit', submitForm)
                formChat.getElementsByClassName("send-btn")[0].disabled = true;
                question.readOnly = true
                question.setAttribute("placeholder", "No connection, chat is disabled...")
                document.getElementsByClassName("typing-box")[0].style.borderColor = "#ba0000"
                const elMsg = document.createElement('div')
                elMsg.setAttribute('class', 'info-msg')
                elMsg.innerHTML = "<p>Connection lost, reconnecting in 5 secs...</p>"
                subscribe.appendChild(elMsg)
                subscribe.style.border = "2px solid #ba0000"
                subscribe.scrollTo({
                    top: subscribe.scrollHeight,
                    behavior: 'smooth'
                });
                setTimeout(startWebsocket, 5000)
            }
        }

        startWebsocket()

    </script>
{% endblock %}