{% extends "base.html" %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block style_file %}
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/profile.css') }}">
{% endblock %}
{% block content %}

    <div class="container">
        <div class="leftbox">
            <nav>
                <a href="/" class="chat">
                    <i class="fa-solid fa-comment-dots"></i>
                </a>
            </nav>
        </div>

        <div class="centerbox">
            <div class="profile">
                <h2>{{user_name}}</h2>
                <h3>{{user_email}}</h3>

                <form action="#" class="change-name">
                    <p id="rename">Змінити ім'я користувача</p>
                    <input type="text"
                    id="new_username"
                    class="input-field"
                    placeholder="{{user_name}}" required autocomplete="off">
                    <button type="submit"
                    class="name-btn">Rename</button>
                </form>

                <form action="/logout_user" method="get" class="logout">
                    <p>
                        <button type="submit"
                        class="logout-btn">Logout</button>
                    </p>
                </form>

                <form action="#" class="del-acc">
                    <p>
                        <button type="submit"
                        class="delete-btn">Delete Account</button>
                    </p>
                </form>

            </div>
        </div>

        <form action="#" class="add-pdf">
            <div class="rightbox">
                <input type="file" id="file-input" multiple>
                <label for="file-input">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    &nbsp; Choose PDF
                </label>
                <div id="num-of-files">No Files Coosen</div>
                <ul id="files-list"></ul>
            </div>
        </form>
    </div>

    <!-- SCRIPT FOR FILE BAR -->

    <script>
        let fileInput = document.getElementById("file-input");
        let fileList = document.getElementById("files-list");
        let numOfFiles = document.getElementById("num-of-files");

        fileInput.addEventListener("change", () => {
            fileList.innerHTML = "";
            numOfFiles.textContent = `${fileInput.files.length}
            Files Selected`;

            for (i of fileInput.files) {
                let reader = new FileReader();
                let listItem = document.createElement("li");
                let fileName = i.name;
                fileSize = (i.size / 1024).toFixed(1);
                listItem.innerHTML = `<p>${fileName}</p><p>${fileSize}KB</p>`;

                if (fileSize >= 1024) {
                    fileSize = (fileSize / 1024).toFixed(1);
                    listItem.innerHTML = `<p>${fileName}</p><p>${fileSize}MB</p>`;
                }
                fileList.appendChild(listItem);
            }
        });
    </script>
{% endblock %}
